<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="/favicon/favicon64.png" type="image/png" sizes="64x64">
    <link rel="icon" href="/favicon/favicon32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/favicon/favicon16.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>ESP8266 Water Tank Status Test</title>
</head>
<body>
    <h1>ESP8266 Water Tank Status</h1>
    <p id="name"><strong>Name:</strong> {{ current_readings.name }}</p>
    <p id="ip"><strong>IP Address:</strong> {{ current_readings.ip }}</p>
    <p id="wifi_connections_count"><strong>Wi-Fi Connections Count:</strong> {{ current_readings.wifi_connections_count }}</p>
    <p id="temp"><strong>Temperature:</strong> {{ current_readings.temp }}</p>
    <p id="float_low"><strong>Float Low:</strong>
    <label class="switch">
      <input type="checkbox" {% if current_readings.float_low %}checked{% endif %}>
      <span class="slider {% if current_readings.float_low %}green{% else %}red{% endif %}"></span>
    </label>
    </p>
    <p id="float_high"><strong>Float High:</strong>
    <label class="switch">
      <input type="checkbox" {% if current_readings.float_high %}checked{% endif %}>
      <span class="slider {% if current_readings.float_high %}green{% else %}red{% endif %}"></span>
    </label>
    </p>
    <button id="toggleSpoilerButton">Show More</button>

    <div class="spoiler-content" id="spoiler" style="display: none;">
        <p id="low_temp"><strong>Low Temperature:</strong> {{ current_readings.low_temp }}</p>
        <p id="high_temp"><strong>High Temperature:</strong> {{ current_readings.high_temp }}</p>
        <p id="is_temp_sensor_ok"><strong>Temperature Sensor Status:</strong> {{ current_readings.is_temp_sensor_ok }}</p>
        <p id="is_pump_available"><strong>Pump Availability:</strong>
        <label class="switch">
            <input type="checkbox" {% if current_readings.is_pump_available %}checked{% endif %}>
            <span class="slider {% if current_readings.is_pump_available %}green{% else %}red{% endif %}"></span>
        </label>
        </p>
        <p id="is_heater_available"><strong>Heater Availability:</strong>
        <label class="switch">
            <input type="checkbox" {% if current_readings.is_heater_available %}checked{% endif %}>
            <span class="slider {% if current_readings.is_heater_available %}green{% else %}red{% endif %}"></span>
        </label>
        </p>
        <p id="is_mixer_available"><strong>Mixer Availability:</strong>
        <label class="switch">
            <input type="checkbox" {% if current_readings.is_mixer_available %}checked{% endif %}>
            <span class="slider {% if current_readings.is_mixer_available %}green{% else %}red{% endif %}"></span>
        </label>
        </p>
    </div>

    <script>
        const toggleButton = document.getElementById("toggleSpoilerButton");
        const spoiler = document.getElementById("spoiler");

        toggleButton.addEventListener("click", function () {
            if (spoiler.style.display === "none" || spoiler.style.display === "") {
                spoiler.style.display = "block";
                toggleButton.textContent = "Show Less";
            } else {
                spoiler.style.display = "none";
                toggleButton.textContent = "Show More";
            }
        });

        showAlertIfTrue(current_readings.is_force_fill_tank_ready, 'Force Fill Tank Ready');
        showAlertIfTrue(current_readings.is_force_heat_water_ready, 'Force Heat Water Ready');
        showAlertIfTrue(current_readings.is_shower_ready, 'Shower Ready');

        function showAlertIfTrue(value, message) {
            if (value) {
                alert(message);
            }
        }
        
        function updateData() {
            const keys = Object.keys(current_readings);
            for (const key of keys) {
                document.getElementById(key).innerText = current_readings[key];
            }
        }
        setInterval(updateData, 500);
    </script>
</body>
</html>
